<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Welcome User!</title>
  <%- include('head') -%>
</head>
<body>
  <div class="alert alert-danger d-flex justify-content-center" role="alert">
    Oops. Looks like you are you NOT an admin User. You must be an ADMIN user to view this page!
  </div>

</body>
<style>  
